<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="teamMapper">
	<resultMap type="Team" id="teamResultMap">
		<id column="TEAM_ID" property="teamId"/>
		<result column="REGION_NAME" property="regionName"/>
		<result column="TEAM_NAME" property="teamName"/>
		<result column="STADIUM_ID" property="stadiumId"/>
	</resultMap>
	
	<select id="selectTeamList" resultMap="teamResultMap">
		SELECT TEAM_ID, TEAM_NAME 
		FROM TEAM
	</select>
</mapper>